.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 0;
}

.grid-view table.items
{
	clear: both;
	background: white;
	border-collapse: collapse;
	width: 100%;

}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	/*border: 1px white solid;*/
	/*padding: 0.3em;*/
    line-height: 21px;
}

.grid-view table.items th
{
	color: white;
	background: #5c5c5c;
	text-align: center;
    line-height: 21px;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even, .grid-view table.items tr:nth-child(even)
{
	/*background: #F8F8F8;*/
    background: #DFDFDE;
}

.grid-view table.items tr.odd, .grid-view table.items tr:nth-child(odd)
{
	/*background: #E5F1F4;*/
    background: white;
}

.grid-view table.items tr.selected
{
	/*background: #FFDE91;*/
}

.grid-view table.items tr:hover
{
	/*background: #ECFBD4;*/
    background: #cccccb;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 7px 0;
    padding-right: 7px;
	text-align: right;
    float:right;
}

.grid-view .pager
{
	margin: 7px 0;
    padding-left: 7px;
	text-align: left;
    float:left;
    /*clear:left;*/
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

a.export-csv {
}

table.sublist {
    width : 100%;
    table-layout: fixed;
}

.grid-view table.sublist td {
    font-size      : 0.9em;
    border         : 0;
    border-bottom  : 1px dotted #dedede;
    padding        : 0;
    vertical-align : top;
}

.grid-view table.sublist tr:nth-child(odd) {
    background : transparent
}

.grid-view table.sublist tr:nth-child(even) {
    background : transparent
}

.grid-view table.sublist tr {
    border : 0;
    cursor : pointer;

}

.grid-view table.sublist tr a {

}

.grid-view table.items td.icon-column {
    text-align: center;
    width:50px;
}
